/*header*/

header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-bottom: solid 1px black;
    
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    z-index: 30;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#logo {
    color: mediumaquamarine;
    font-size: 14px;
    
    padding: 10px;
    
    display: flex;
    justify-content: center;
}

nav {
    padding-right: 50px;
    width: 275px;

    display: flex;
    justify-content: space-between
}

a {
    color: black;

    display: inline-block;
}



/*main*/

.maincontainer {
    top: 75px;
    border: solid black 1px;
    
    display: flex;
    justify-content: space-between;
    position: relative;
}

#large {
    width: 630px;
    border: solid black 1px;
    margin: 10px;
    top: 0px
}

#medium {
    width: 300px;
    border: solid black 1px;
    margin: 10px;
}

#small {
    width: 240px;
    border: solid black 1px;
    margin: 10px;
}

#maintitle {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
    
    height: 200px;
}

#maintitle1 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
    
    height: 200px;
}

#maintitle2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
    
    height: 200px;
}

#maintitle3 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
    
    height: 200px;
}


.content {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    border: solid black 1px; 
}