/*header*/

header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-bottom: solid 1px black;
    
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    z-index: 30;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#logo {
    color: mediumaquamarine;
    font-size: 14px;
    
    padding: 10px;
    
    display: flex;
    justify-content: center;
}

nav {
    padding-right: 50px;
    width: 275px;

    display: flex;
    justify-content: space-between
}

a {
    color: black;

    display: inline-block;
}



/*main*/

.maincontainer {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    
    top: 75px;
    margin-bottom: 100px;
    
    display: flex;
    justify-content: space-between;
    position: relative;
}

.maintitle {
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 10px;
    max-height: 270px;
    
    display: flex;
}

.story {
    width: 50%;
    margin-right: 20px;
}



/*large*/

#large {
    width: 630px;
    margin: 10px;
    top: 0px;
    
    display: flex;
    flex-direction: column;
}

#maintitle {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}


#maintitle1 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
    
    width: 50%;
    margin-right: 20px;
}

#maintitle2 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
    
    width: 50%;
    margin-right: 20px;
}

#contentcontainer {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
}

#stories {
    display: flex;
}

#fakenews {
    display: flex;
}


/*medium*/

#medium {
    width: 300px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
}

#maintitle3 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}


/*small*/

#small {
    width: 240px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
}

#nb {
    font-size: 16px;
    font-weight: bold;
}

#newsbites {
    background-color: floralwhite;
    font-family: Verdana;
    font-size: 12px;
    color: dimgray;
    padding-left: 5px;
    
    display: flex;
    flex-direction: column;
}

#newsbites p {
    border-bottom: solid black 1px;
    padding: 5px;
}


/*footer*/

footer {
    background-color: mediumaquamarine;
    height: 300px;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footeritems {
    display: flex;
    align-items: center;
}

footer h1 {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    
    padding-right: 20px;
    border-right: solid white 3px;
}

footer nav {
    padding: 20px;
    
}